@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --index: calc(1vw + 1vh);
}

/* ----------- Utility CSS --------------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Flexbox */

.fx-center {
  @apply flex items-center justify-center;
}

.fx-col-center {
  @apply flex flex-col items-center justify-center;
}

.fx-start {
  @apply flex items-center justify-start;
}

.fx-end {
  @apply flex items-center justify-end;
}

.fx-row {
  @apply flex flex-row;
}

.fx-col {
  @apply flex flex-col;
}

.fx-between {
  @apply items-center justify-between;
}

/* Text Shadows */

.txt-shadow-1 {
  text-shadow: 0px 0px 8px rgba(2, 24, 63, 0.8);
}

.txt-shadow-2 {
  text-shadow: 0px 0px 16px rgba(2, 24, 63, 0.8);
}

.txt-shadow-3 {
  text-shadow: 0px 0px 24px rgba(2, 24, 63, 0.8);
}

.txt-shadow-4 {
  text-shadow: 0px 0px 32px rgba(2, 24, 63, 0.8);
}

.txt-shadow-5 {
  text-shadow: 0px 0px 40px rgba(2, 24, 63, 0.8);
}

/* NAVBAR */

.nav-interaction {
  @apply transition-opacity duration-300 hover:opacity-70 focus:opacity-70;
}

/* HERO */

.hero__heading {
  font-size: calc(var(--index) * 3);
  transform: translate3d(0, calc(var(--scrollTop) / 1.4), 0);
  will-change: transform;
}

.hero__heading h1 {
  animation: lightningLetters 20s ease-in-out infinite;
}

.hero__layer {
  @apply pointer-events-none absolute z-20 h-full w-full will-change-transform;
}

.hero__layer--0 {
  transform: translate3d(0, calc(var(--scrollTop) / 1.2), 0);
}

.hero__layer--0::after {
  content: '';
  @apply absolute inset-0;
  animation: lightning 20s ease-in-out infinite;
}

.hero__layer--1 {
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
}

.hero__layer--2 {
  transform: translate3d(0, calc(var(--scrollTop) / 1.8), 0);
}

.hero__layer--3 {
  transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
}

.hero__layer--4 {
  transform: translate3d(0, calc(var(--scrollTop) / 4.5), 0);
}

.hero__layer--5 {
  transform: translate3d(0, calc(var(--scrollTop) / 6.5), 0);
}

@media screen and (min-width: 600px) {
  .hero__heading {
    font-size: calc(var(--index) * 4.5);
  }
}

@media screen and (min-width: 1600px) {
  .hero__heading {
    font-size: 9rem;
  }
}

@keyframes lightning {
  0% {
    background-color: rgba(0, 68, 104, 0.6);
  }
  6.25% {
    background-color: rgba(0, 68, 104, 0.6);
  }
  8% {
    background-color: rgb(255, 255, 255, 0.6);
  }
  9% {
    background-color: rgba(0, 68, 104, 0.6);
  }
  11% {
    background-color: rgb(255, 255, 255, 0.6);
  }
  30% {
    background-color: rgba(0, 68, 104, 0.6);
  }
  100% {
    background-color: rgba(0, 68, 104, 0.6);
  }
}

@keyframes lightningLetters {
  0% {
    color: #ffffff;
  }
  6.25% {
    color: #ffffff;
  }
  8% {
    color: #ffffff;
  }
  9% {
    color: #ffffff;
  }
  11% {
    color: #004468;
  }
  20% {
    color: #ffffff;
  }
  100% {
    color: #ffffff;
  }
}
